
  
  ul li.active a{
    background: #fff;
    color: #000;
  }
  
  .principale{
    max-width: 114rem;
    margin: 0 auto;
  }
  
  header button {
    background-color: #ea1f33;
    cursor: pointer;
    color: #fff;
    padding: 5px 25px;
  }
.produits_texte{
    text-align: left;
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    margin-left: 80px;
    color: rgb(44, 108, 204);
}
.section_jeux{
    padding-left: 40 5%;
}
.jeux{
    display: grid;
    grid-template-columns: repeat(auto);
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.jeux .carte{
    width: 310px;
    background: #f5f5f5;
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-bottom: 20px; 
}

.jeux .carte img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
.jeux .carte .desc{
    padding: 5px 20px;
    opacity: 0.8;
}
.jeux .carte .titre.{
    font-weight: 900;
    font-size: 20px;
    color: blue;
    padding: 0 20px;
}
.jeux .carte .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.jeux .carte .prix{
    color: #ea1f33;
    font-size: 20px;
    font-weight: bold;
}
.jeux .carte .button{
    font-size: 13px;
    font-weight: 900;
    color: #ea1f33;
    padding: 10px 18px;
    border-radius: 1px solid #ea1f33;
}
footer{
  background: #f3f4f3;
  height: 10v;

}

footer p {
  text-align: center;
  line-height: 10vh;
}
footer p a{
  text-decoration: navajowhite;
  color: #f63e4e;
  font-weight: bold;

}
